<IfModule mod_rewrite.c >
#Activar
RewriteEngine on
ErrorDocument 404 http://localhost/Proyecto%20Web%20DB/error/index

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2
</IfModule>