*{
    margin: 0;
    padding:0;
    font-family: arial;
}
/*==============================================================================================================HEADER*/
body{
    width: 100%;
    height: auto;
    background-image: url("../images/bg.jpg");
    background-size: contain;
}

header{
    width: 100%;
    height: 60px;
    background-color: black;
    color:white;
    display: grid;
    grid-template-columns: 10% 70%;
    justify-content: space-between;
}

header #logo{
    text-decoration: none;
    margin: auto;
    color: #0da5e0;
    font-size: 1.5em;
    padding-left: 20px;
}

 nav{
    display: grid;
    width: 100%;
    height: 100%;
}

 nav #mainnav{
    width: 90%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
}

 nav #mainnav li{
    font-size: 1.2em;
    color:white;
    margin: auto;
    transition: 400ms;
    cursor: pointer;
    list-style: none;
     text-decoration: none;
}

 nav #mainnav li a{
    text-decoration: none;
    transition: 400ms;
    color:white;
    cursor: pointer;
}

 nav #mainnav li:hover,
 nav #mainnav li a:hover{
    transform: scale(1.1,1.1);
    color: #0da5e0;
}

 nav #mainnav li ul{
    display: none;
    position: absolute;
    width: auto;
    transition: 400ms;
}

 nav #mainnav li:hover > ul{
    display: grid;
    background-color: black;
    margin-top: 5px;
}

 nav #mainnav li > ul li{
    position: relative;
    width: 100%;
    height: 100%;
}

 nav #mainnav li > ul li a{
    font-size: .8em;
    padding: 10px;
    margin: auto;
}

.menu-fixed {
    position:sticky;
    z-index:1000;
    top:0;
    left:0;
}
/*==============================================================================================================HEADER*/

/*=============================================================================================================CONTENT*/
#maincontent{
    width: 100%;
    min-height: 85vh;
    display: grid;
}
/*=============================================================================================================CONTENT*/

/*==============================================================================================================FOOTER*/
footer{
    background-color: black;
    display: grid;
    padding: 10px 0;
}

footer span{
    text-align: center;
    font-size: 1em;
    color:white;
    margin-bottom: 10px;
}

footer #botfooter{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

footer #botfooter #social{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}

footer #botfooter #social i{
    color:white;
    font-size: 1.5em;
    margin: auto;
    cursor: pointer;
    transition: 400ms;
}

footer #botfooter #social i:hover{
    color:#0da5e0;
    transform: scale(1.1,1.1);
}

footer nav #mainnav li ul{
    bottom: 30px;
}
/*==============================================================================================================FOOTER*/


/*======================================================================================================================MainController*/


/*===============================================================================================================Index*/
#indexfull{
    width: 100%;
    height: 91vh;
    background-image: url("../images/bgbanner.jpg");
    background-size: cover;
}

.indexcont{
    margin: 20px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: grid;
}

.indexcont h1{
    color:white;
    font-size: 2em;
    text-align: center;
}

.indexcont h2{
    color: #f2f2f2;
    text-align: center;
    font-size: 1.6em;
}

#indexNosotros > div,
#indexContacto > div{
    width: 90%;
    margin: 25px auto;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-evenly;
}

#indexNosotros > div img,
#indexContacto > div img{
    width: 80%;
    max-height: 400px;
    margin: auto;
    border-radius: 10px;
}

#indexNosotros div div,
#indexContacto div div{
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-rows: 50% 30%;
}

#indexNosotros div div p,
#indexContacto div div p{
    color:#0da5e0;
    font-size: 1.4em;
    text-align: justify;
    line-height: 30px;
    margin: auto;
}

#indexNosotros div div a,
#indexContacto div div a{
    font-size: 1.3em;
}



/*===============================================================================================================Index*/
/*============================================================================================================Nosotros*/
#nosotrosM div,
#nosotrosV div{
    display: grid;
    width: 90%;
    margin: 25px auto;
    grid-template-columns: 45% 45%;
    justify-content: space-evenly;
}

#nosotrosM div img,
#nosotrosV div img{
    width: 90%;
    max-height: 350px;
    margin: auto;
    border-radius: 10px;
}

#nosotrosM div p,
#nosotrosV div p{
    font-size: 1.5em;
    color:#0da5e0;
    text-align: justify;
    line-height: 30px;
    margin: auto;
}
/*============================================================================================================Nosotros*/
/*============================================================================================================Contacto*/

#contContacto{
    width: 100%;
    display: grid;
    height: 85vh;
    margin: 15px 0;
    grid-template-rows: 10% 90%;
    background-color: rgba(0, 0, 0, 0.8);
}

#contContacto h1{
    color:white;
    text-align: center;
    font-size: 2em;
}

#contContacto > div{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 35% 65%;
}

#contContacto >div div{
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-rows: 50% 50%;
}

#contContacto > div div p{
    color:white;
    font-size: 1.5em;
    margin: auto;
    line-height: 30px;
    padding-left: 30px;
    text-align: justify;
}

#contContacto > div div li{
    color:#0da5e0;
    font-size: 1.4em;
    padding-left: 30px;
    line-height: 30px;
    text-align: justify;
}

#contContacto form{
    width: 95%;
    height: 100%;
    margin: auto;
    background-color: black;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: auto auto auto auto auto auto auto auto;
}

#contContacto form label{
    color:white;
    font-size: 1.4em;
    text-align: left;
    margin: auto;
}

#contContacto form input{
    margin: auto;
   height: fit-content;
    width: 80%;
    font-size: 1.3em;
    padding: 5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #0da5e0;
    color:#0da5e0;
}

#contContacto form textarea{
   height: 225px;
    padding: 5px;
    width: 80%;
    font-size: 1.3em;
    resize: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #0da5e0;
    margin: auto;
    color:#0da5e0;
}

#contContacto form input[type="submit"]{
    color:#0da5e0;
    border: 1px solid #0da5e0;
    text-align: center;
    width: fit-content;
    padding: 10px;
    margin-top: 10px;
}
#contContacto form input[type="submit"]:hover{
    color:white;
    background: #0da5e0;
}
/*============================================================================================================Contacto*/
/*===============================================================================================================Login*/
.formsl{
    width: 100%;
    min-height: 85vh;
    display: grid;
    background-color: rgba(0, 0, 0, 0.8);
    grid-template-rows: 10% 90%;
}
.formsl h1{
    color:white;
    text-align: center;
    font-size: 2em;
    margin: auto;
}

.formsl form{
    width: 60%;
    height: fit-content;
    padding: 20px 0;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: auto;
    background-color: #000034;
    border-radius: 25px;
}

#loginSec form{
    margin: auto;
}

.formsl form label{
    color:white;
    margin: 15px auto;
    text-align: center;
    font-size: 1.5em;
    margin: auto;
    height: fit-content;
}

.formsl form input{
    width: 80%;
    margin: 15px auto;
    background: transparent;
    color: #0da5e0;
    border: none;
    border-bottom: 1px solid #0da5e0;
    font-size: 1.5em;
    padding: 3px;
    height: fit-content;
}

.formsl form input[type="submit"]{
    color:#0da5e0;
    border: 1px solid #0da5e0;
    width: fit-content;
    height: fit-content;
    font-size: 1.5em;
    padding: 10px;
    transition: 400ms;
    cursor: pointer;
}

.formsl form input[type="submit"]:hover{
    color:white;
    background-color: #0da5e0;
    transform: scale(1.1,1.1);
}

.formsl form a{
    width: fit-content;
    height: fit-content;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    margin: auto;
    transition: 400ms;
}

.formsl form a:hover{
    transform: scale(1.05,1.05);
    color:#0da5e0;
}

/*===============================================================================================================Login*/



/*======================================================================================================================MainController*/

/*======================================================================================================================ProductosController*/



/*======================================================================================================================ProductosController*/

/*======================================================================================================================Classes*/
.button{
    color: white;
    width: fit-content;
    border: 1px solid white;
    margin: auto;
    padding: 5px;
    transition: 400ms;
    text-decoration: none;
    cursor: pointer;
}

.button:hover{
    transform: scale(1.1,1.1);
    background-color: white;
    color:#0da5e0;
}

.error{
    font-size: 1.2em;
    color:red;
    margin:auto;
    text-align: center;
}

.logro{
    font-size: 1.2em;
    color:green;
    margin:auto;
    text-align: center;
}